<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncErrorHandler.Fody" version="1.0.11.0" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Google.Apis" version="1.20.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Google.Apis.Oauth2.v2" version="1.20.0.672" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1983" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0-unstable1983" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="sqlite-net-pcl" version="1.2.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLitePCLRaw.core" version="1.1.2-pre20161207051304" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="System.Device.Location.Portable" version="1.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Validation" version="2.3.7" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0.41-beta" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="4.0.0-beta12" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Auth" version="1.3.2-alpha-01" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.175" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>